@font-face {
  font-family: 'Exo';
  font-weight: 300;
  src: url('../fonts/Exo-Light.ttf');
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  src: url('../fonts/Exo-Regular.ttf');
}

@font-face {
  font-family: 'Exo';
  font-weight: 500;
  src: url('../fonts/Exo-Medium.ttf');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  src: url('../fonts/Exo-Bold.ttf');
}

h1 {
  font-size: 80px;
  line-height: 92px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

* {
  font-family: 'Exo';
  font-size: 16px;
  color: #333351;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  outline: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

body {
  overflow-x: hidden;
  background: #fafafc;
}

section {
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.mgb54 {
  margin-bottom: 54px !important;
}

.mgb36 {
  margin-bottom: 36px !important;
}

.mgb26 {
  margin-bottom: 26px !important;
}

.mgb24 {
  margin-bottom: 24px !important;
}

.mgt30 {
  margin-top: 30px !important;
}

.logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 28px;
  display: block;
  position: absolute;
  left: 40px;
  top: 48px;
  z-index: 2;
}

.button {
  display: block;
  overflow: hidden;
  border: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  padding: 24px 68px 22px;
  background: #dcdcf0;
  -webkit-box-shadow: 0 10px 20px rgba(47, 128, 237, 0.3);
  box-shadow: 0 10px 20px rgba(47, 128, 237, 0.3);
  cursor: pointer;
  text-align: center;
}
.button.disable {
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
.button.disable div {
  display: none;
}
.button.white {
  -webkit-box-shadow: 0 10px 20px rgba(132, 149, 156, 0.15);
  box-shadow: 0 10px 20px rgba(132, 149, 156, 0.15);
  cursor: default;
  background: rgba(255, 255, 255, 0.8);
}
.button.white span {
  color: #333351;
}
.button.white div {
  display: none;
}
.button.mini {
  padding: 16px 98px;
}
.button.mini span {
  font-size: 16px;
}
.button.small {
  padding: 9px 27px 9px;
  border-radius: 50px;
}
.button.small span {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}
.button:hover div {
  -webkit-transition: 0.225s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.225s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.225s cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
}
.button div {
  position: absolute;
  left: -100%;
  top: 0;
  width: 200%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#2f80ed), color-stop(50%, #33adff), to(#2f80ed));
  background: -webkit-linear-gradient(right, #2f80ed 0%, #33adff 50%, #2f80ed 100%);
  background: -o-linear-gradient(right, #2f80ed 0%, #33adff 50%, #2f80ed 100%);
  background: linear-gradient(to left, #2f80ed 0%, #33adff 50%, #2f80ed 100%);
  z-index: 1;
  -webkit-transition: 0.15s ease-in;
  -o-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}
.button span {
  z-index: 2;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.button span span {
  font-weight: 400;
  opacity: 0.5;
  text-transform: none;
}
.button input[type='file'] {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.background {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
}

.info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 72px;
  margin: 0 auto;
}
.info-link span {
  font-size: 24px;
  line-height: 24px;
  color: #3193f5;
  margin-left: 12px;
  font-weight: 500;
}

.disclaimer {
  padding-top: 30px;
  margin: 0 auto;
}
.disclaimer img {
  bottom: -2px;
}
.disclaimer span {
  color: #c8c8dc;
  padding: 0 4px 0 6px;
}
.disclaimer a {
  color: #3193f5;
  font-weight: 500;
}

.welcome-content {
  max-width: 580px;
  position: absolute;
  left: 40px;
  top: 50vh;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.welcome-content p {
  font-size: 24px;
  line-height: 36px;
  padding: 42px 0 66px;
}

.main-background {
  width: 100%;
  height: 100vh;
  background-image: url('../img/header-background.svg');
  background-repeat: no-repeat;
  background-position: -300px -1750px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
@media (max-width: 1600px) {
  .main-background {
    background-position: -550px -1750px;
  }
}
@media (max-width: 1200px) {
  .main-background {
    background-position: -750px -1750px;
  }
}

.select-type {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(calc(-50% - 48px));
  -ms-transform: translateY(calc(-50% - 48px));
  transform: translateY(calc(-50% - 48px));
}
@media (max-width: 1270px) {
  .select-type {
    padding: 0 40px;
  }
}
.select-type .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 48px;
}
.select-type .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 52px 42px 60px;
  text-align: center;
  width: calc(25% - 24px);
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 20px 40px rgba(132, 149, 156, 0.04);
  box-shadow: 0 20px 40px rgba(132, 149, 156, 0.04);
  -webkit-transition: 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.375s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}
.select-type .links a:hover {
  -webkit-box-shadow: 0 30px 40px rgba(132, 149, 156, 0.07);
  box-shadow: 0 30px 40px rgba(132, 149, 156, 0.07);
}
.select-type .links a img {
  margin-bottom: 44px;
}

.form-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-content .crumbs img {
  margin: 0 8px;
}
.form-content .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 48px;
}
.form-content .name a {
  margin-right: 18px;
  bottom: -1px;
}
.form-content form {
  width: 884px;
  height: 510px;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 20px 40px rgba(132, 149, 156, 0.04);
  box-shadow: 0 20px 40px rgba(132, 149, 156, 0.04);
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form-content form > .button {
  margin: 0 auto;
}
.form-content form ::-webkit-input-placeholder {
  color: #dcdcf0;
}
.form-content form ::-moz-placeholder {
  color: #dcdcf0;
}
.form-content form :-ms-input-placeholder {
  color: #dcdcf0;
}
.form-content form :-moz-placeholder {
  color: #dcdcf0;
}
.form-content form > h2 {
  padding-top: 48px;
  text-align: center;
}
.form-content form .copy {
  color: #3193f5;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
}
.form-content form .key-area {
  width: 100%;
  margin-bottom: 24px;
}
.form-content form .key-area .title {
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}
.form-content form .key-area .title p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-content form .key-area .title img {
  height: 24px;
  top: -5px;
  margin-left: 12px;
  cursor: pointer;
}
.form-content form .key-area .key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-content form .key-area .copy {
  color: #3193f5;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}
.form-content form .input {
  width: calc(100% - 40px);
  margin-bottom: 36px;
}
.form-content form .input p {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.form-content form .input p.required:after {
  content: ' *';
  color: #df4c4c;
}
.form-content form .input p span {
  position: absolute;
  padding-left: 16px;
  top: 1px;
  font-weight: 400;
  text-transform: none;
  color: #c8c8dc;
}
.form-content form .input p .copy {
  color: #3193f5;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
}
.form-content form .input textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 21px 24px 19px;
  border: 1px solid #dcdcf0;
  border-radius: 6px;
  overflow: hidden;
  font-size: 24px;
  line-height: 168%;
  height: 123px;
  max-height: 123px;
  min-height: 123px;
}
.form-content form .input textarea.disable {
  background: #f8f8fb;
  border-color: #f8f8fb;
}
.form-content form .input input {
  width: 100%;
  border: 1px solid #dcdcf0;
  padding: 19px 25px;
  font-size: 24px;
  border-radius: 6px;
}
.form-content form .input input.disable {
  background: #f8f8fb;
  border-color: #f8f8fb;
}
.form-content form .input input[type='checkbox'] {
  display: none;
}
.form-content form .input input[type='checkbox']:checked + .eye {
  background-image: url('../img/eye-gray.svg');
}
.form-content form .input input[type='checkbox']:checked + .eye.blue {
  background-image: url('../img/eye-blue.svg');
}
.form-content form .input label:not(.showing) {
  position: absolute;
  left: calc(100% + 24px);
  bottom: 28px;
}
.form-content form .input .eye {
  cursor: pointer;
  width: 21px;
  height: 17px;
  background-image: url('../img/eye-gray-closed.svg');
}
.form-content form .input .eye.blue {
  background-image: url('../img/eye-blue-closed.svg');
}
.form-content form .showing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}
.form-content form .showing span {
  color: #3193f5;
  margin-left: 12px;
}
.form-content form .generate {
  font-size: 54px;
}
.form-content form .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.form-content form .button-area .button {
  margin: 0 15px;
  width: 267px;
}
.form-content .form-seed-pharse .input,
.form-content .form-restore-wallet .input {
  width: 100%;
  margin: 30px 0 54px;
}
.form-content .form-enter-key .input,
.form-content .form-create-pass .input {
  margin: 30px 0 54px;
}
.form-content .form-walet-data .input {
  width: 100%;
}
.form-content .form-upload-file .button {
  margin-top: 18px;
}

nav {
  width: 100%;
  height: 90px;
  padding: 0 48px;
  background: #f9fafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
}
nav:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 4px 50px rgba(49, 151, 247, 0.1);
  box-shadow: 0 4px 50px rgba(49, 151, 247, 0.1);
  z-index: 1;
}
nav:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 60px 80px rgba(132, 149, 156, 0.15);
  box-shadow: 0 60px 80px rgba(132, 149, 156, 0.15);
  z-index: 1;
}
nav > * {
  z-index: 2;
}
nav .logo {
  position: relative;
  left: 0;
  top: 0;
  margin-right: 90px;
}
nav .link {
  padding: 34px 30px 32px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
}
nav .link.active {
  color: #3193f5;
  background: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(47, 128, 237, 0.2);
  box-shadow: 0 30px 50px rgba(47, 128, 237, 0.2);
}
nav .profile-info {
  position: absolute;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav .profile-info .info {
  border-right: 2px solid rgba(200, 200, 220, 0.2);
  padding-right: 32px;
  text-align: right;
}
nav .profile-info .info .amt {
  font-size: 24px;
  font-weight: 700;
}
nav .profile-info .info .amt span {
  font-size: 14px;
  text-transform: uppercase;
}
nav .profile-info .info .address {
  color: #c8c8dc;
  font-size: 14px;
  line-height: 19px;
  padding-top: 2px;
}
nav .profile-info .info .address img {
  bottom: -2px;
  cursor: pointer;
}
nav .profile-info .logout {
  width: 105px;
  height: 100%;
  background-image: url('../img/logout.svg');
  background-size: 25px 18px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.left-section {
  width: 417px;
  height: calc(100vh - 90px - 42px - 60px);
  position: fixed;
  left: 48px;
  top: 132px;
  z-index: 2;
}
.left-section .wallet-info {
  width: 100%;
  height: 254px;
  padding: 36px 30px;
  border-radius: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#2f80ed), to(#33adff));
  background: -webkit-linear-gradient(right, #2f80ed 0%, #33adff 100%);
  background: -o-linear-gradient(right, #2f80ed 0%, #33adff 100%);
  background: linear-gradient(to left, #2f80ed 0%, #33adff 100%);
  margin-bottom: 48px;
  -webkit-box-shadow: 0 10px 20px rgba(47, 128, 237, 0.35);
  box-shadow: 0 10px 20px rgba(47, 128, 237, 0.35);
}
.left-section .wallet-info p {
  color: #fff;
  font-weight: 700;
}
.left-section .wallet-info .title .copy {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  float: right;
  opacity: 0.5;
}
.left-section .wallet-info .balance {
  font-size: 42px;
  line-height: 56px;
}
.left-section .wallet-info .balance span {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.left-section .wallet-info .conversions {
  opacity: 0.5;
  font-weight: 400;
  margin: -8px 0 30px;
}
.left-section .wallet-info .key {
  margin-top: 6px;
  font-weight: 400;
}
.left-section .delegates-list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
}
.left-section .delegates-list .list {
  width: 100%;
  max-height: calc(100vh - 90px - 42px - 254px - 45px - 64px - 60px);
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  padding: 46px 0 60px;
}
.left-section .delegates-list .list .head {
  background: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 17px 30px 12px;
  border-bottom: 1px solid #dcdcf0;
  border-radius: 15px 15px 0 0;
}
.left-section .delegates-list .list .head p {
  font-size: 12px;
  font-weight: 700;
}
.left-section .delegates-list .list .head .rank {
  width: 30px;
  text-align: right;
}
.left-section .delegates-list .list .head .address {
  width: 230px;
  text-align: left;
  padding-left: 30px;
}
.left-section .delegates-list .list .delegate {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 30px 20px;
  height: 60px;
}
.left-section .delegates-list .list .delegate:nth-child(even) {
  background: #fbfbfe;
}
.left-section .delegates-list .list .delegate p {
  font-size: 14px;
  font-weight: 500;
}
.left-section .delegates-list .list .delegate .rank {
  width: 30px;
  text-align: right;
}
.left-section .delegates-list .list .delegate .address {
  width: 230px;
  text-align: left;
  padding-left: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.left-section .delegates-list .list .delegate .amount {
  margin-left: auto;
}
.left-section .delegates-list .list .all {
  background: #fff !important;
  padding: 19px 30px 18px;
  border-top: 1px solid #dcdcf0;
  border-radius: 0 0 15px 15px;
  color: #3193f5;
  font-weight: 500;
  text-align: center;
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.left-section form h2 {
  color: #3193f5;
  line-height: 115%;
  margin-bottom: 36px;
}
.left-section form ::-webkit-input-placeholder {
  color: #dcdcf0;
}
.left-section form ::-moz-placeholder {
  color: #dcdcf0;
}
.left-section form :-ms-input-placeholder {
  color: #dcdcf0;
}
.left-section form :-moz-placeholder {
  color: #dcdcf0;
}
.left-section form .input {
  width: 100%;
  margin-bottom: 36px;
}
.left-section form .input p {
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.left-section form .input p.required:after {
  content: ' *';
  color: #df4c4c;
}
.left-section form .input p span {
  position: absolute;
  padding-left: 16px;
  top: 1px;
  font-weight: 400;
  text-transform: none;
  color: #c8c8dc;
}
.left-section form .input p .copy {
  color: #3193f5;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.left-section form .input input {
  width: 100%;
  border: 1px solid #dcdcf0;
  padding: 15px 18px;
  font-size: 16px;
  border-radius: 6px;
  z-index: 2;
}
.left-section form .input input.disable {
  background: #f8f8fb;
  border-color: #f8f8fb;
}
.left-section form .input input.search {
  padding-left: 53px;
  background-image: url('../img/search.svg');
  background-position: 18px 50%;
  background-repeat: no-repeat;
}
.left-section form .input .fee {
  display: block;
  width: 100%;
  background: rgba(220, 220, 240, 0.1);
  border: 1px solid rgba(220, 220, 240, 0.25);
  border-radius: 0 0 15px 15px;
  padding: 18px 18px 13px;
  top: -6px;
  font-weight: 700;
}
.left-section form .input .search-results {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.left-section form .input .search-results .result {
  margin-top: 12px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  background: rgba(220, 220, 240, 0.1);
  border: 1px solid rgba(220, 220, 240, 0.25);
  border-radius: 6px;
  margin-right: 12px;
}
.left-section form .input .search-results .result span {
  font-size: 14px;
  margin-right: 8px;
}
.left-section form .input .search-results .result img {
  cursor: pointer;
}
.left-section .create-transaction {
  padding: 30px 30px 60px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
}
.left-section .delegate-form {
  padding: 91px 30px 60px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
}
.left-section .delegate-form .nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 23px 30px 0 30px;
  border-bottom: 1px solid #dcdcf0;
}
.left-section .delegate-form .nav a {
  font-size: 14px;
  font-weight: 700;
  color: #c8c8dc;
  height: 100%;
  margin-right: 24px;
  display: block;
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.left-section .delegate-form .nav a.active {
  color: #3193f5;
}
.left-section .delegate-form .nav a.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background: #3193f5;
}
.left-section .fee-amount {
  padding: 16px 18px;
  margin-bottom: 36px;
  background: #f8f8fb;
  border-radius: 6px;
  font-weight: 700;
}
.left-section .fee-amount span {
  color: #c8c8dc;
  font-weight: 400;
}

.table-section {
  width: calc(100% - 48px - 417px - 48px - 48px);
  position: absolute;
  top: 132px;
  right: 48px;
  z-index: 2;
}
.table-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 40px;
}
.table-section .list {
  width: 100%;
  max-height: calc(100vh - 90px - 42px - 40px - 24px - 57px);
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  box-shadow: 0 15px 100px rgba(132, 149, 156, 0.1);
  padding: 46px 0 60px;
}
.table-section .list.scroll {
  overflow: visible;
  padding-bottom: 0;
}
.table-section .list .scroll-area {
  max-height: calc(100vh - 90px - 42px - 40px - 24px - 57px - 46px);
  overflow: auto;
  border-radius: 0 0 15px 15px;
}
.table-section .list .head {
  background: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 17px 30px 12px;
  border-bottom: 1px solid #dcdcf0;
  border-radius: 15px 15px 0 0;
}
.table-section .list .head p {
  font-size: 12px;
  font-weight: 700;
}
.table-section .list .head p span {
  font-size: 12px;
  font-weight: 400;
  color: #c8c8dc;
  text-transform: uppercase;
}
.table-section .list .head .from,
.table-section .list .head .to {
  width: 24%;
}
.table-section .list .head .date,
.table-section .list .head .amount {
  text-align: right;
  width: 20%;
}
.table-section .list .head .fee {
  width: 12%;
  text-align: right;
  margin-right: 0;
}
.table-section .list .transaction {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 30px 20px;
  height: 60px;
}
.table-section .list .transaction:nth-child(even) {
  background: #fbfbfe;
}
.table-section .list .transaction p {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 12px 12px 11px;
  white-space: nowrap;
  background: inherit;
  z-index: 1;
}
.table-section .list .transaction p.copy:hover {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 2;
  -webkit-box-shadow: 0 1px 20px rgba(209, 209, 220, 0.6);
  box-shadow: 0 1px 20px rgba(209, 209, 220, 0.6);
  padding-right: 38px;
}
.table-section .list .transaction p.copy:hover:after {
  display: block;
}
.table-section .list .transaction p.copy {
  cursor: pointer;
  border-radius: 5px;
}
.table-section .list .transaction p.copy:after {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  right: 12px;
  top: 14px;
  background-image: url('../img/copy.svg');
  background-size: 14px;
  z-index: 2;
  display: none;
}
.table-section .list .transaction .from,
.table-section .list .transaction .to {
  width: calc(24%);
  position: absolute;
  left: 18px;
  top: 9px;
}
.table-section .list .transaction .to {
  left: calc(24% + 4px);
}
.table-section .list .transaction .date,
.table-section .list .transaction .amount {
  text-align: right;
  width: 20%;
  position: absolute;
  right: 32%;
  top: 9px;
}
.table-section .list .transaction .amount {
  right: calc(12% + 12px);
}
.table-section .list .transaction .fee {
  width: 12%;
  text-align: right;
  margin-right: 0;
  position: absolute;
  right: 18px;
  top: 9px;
}
.table-section .list .all {
  background: #fff !important;
  padding: 19px 30px 18px;
  border-top: 1px solid #dcdcf0;
  border-radius: 0 0 15px 15px;
  color: #3193f5;
  font-weight: 500;
  text-align: center;
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.table-section .list .all span {
  color: #b9dbfd;
}
