.form-content form .input .error {
  display: inline-block;
  left: auto;
  font-size: initial;
}

.left-section .wallet-info .conversions {
  height: 21px;
}

.form-content form .input.invalid > textarea {
  border-color: #df4c4c;
  color: #df4c4c;
}

.form-content form {
  height: auto;
  min-height: 510px;
}

.dnd input {
  top: 0;
  left: 0;
}

form .input .error {
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  color: #df4c4c;
  font-weight: 500;
  display: none;
}

form .input.invalid .error {
  display: block;
}

.left-section form .input .error {
  font-size: 14px;
  line-height: 14px;
}

.form-content form .input p span {
  top: 0;
  right: 0;
  left: auto;
}

.form-content form .generate + p {
  width: auto;
  min-width: 485px;
}

.list .all span {
  color: #b9dbfd;
}
